<div class="jumbotron text-center" style="margin-top: 5%">
  <h3>Submit a green house image</h3>
  <hr>
  <style>
    .group {
      display: inline-block;
    }
  </style>
  <div style="outline: 2px solid black; padding: 10px; margin: auto" class="col-sm">
    <form action="/displayForms/" method="post" class="group" enctype="multipart/form-data">
      <div class="group">
        <label for="file">file upload</label>
        <br>
        <input type="file" class="btn btn-light" name="file" style="margin-right: 5%">
        <input type="submit" class="btn btn-success" name="fileSubmit" value="fileSubmit">
      </div>
    </form>
    <form action="/displayForms/greenHouseFolder/" method="POST" class="group" enctype="multipart/form-data">
      <div class="group">
        <label for="folder">folder upload</label>
        <br>
        <input type="file" webkitdirectory="" directory="" class="btn btn-light" name="folder" style="margin-left: 5%">
        <input type="submit" class="btn btn-success" name="folderSubmit" value="folderSubmit">
      </div>
    </form>

  </div>
</div>