<div class="jumbotron text-center" style="margin-top: 5%">

  <h3>Submit a greenhouse image</h3>
  <hr>
  <div style="outline: 2px solid black" class="col-sm">
    <br />
    <form action="/displayForms/" method="post">
      <div class="form-check">
        <br>
        <div class="form-check">
          <input type="submit" class="btn btn-success" value="true" id="greenHousePresent" name="greenHouse">
          <input type="submit" class="btn btn-danger" value="false" id="noGreenHouse" name="noGreenHosue">
        </div>
        <br>
    </form>
  </div>
</div>