<div class="jumbotron text-center" style="margin-top: 5%">
  <h3>Submit a green house image</h3>
  <hr>
  <div style="outline: 2px solid black; padding: 25px; margin-top: 10%" class="col-sm">
    <form method="post" enctype="multipart/form-data" action="/displayForms/solarPanel">
      <input type="file" class="btn btn-light" name="file" style="margin-bottom: 5%">
      <input type="submit" class="btn btn-success" value="Submit">
    </form>
  </div>
</div>