<link rel="stylesheet" href="/styles/home.css">


<body>

  <br>
  <!-- Header -->
  <a href="/users/login" style="text-decoration:none">
    <header style="margin-bottom: 25px; background-image: url('/images/GH-Top.jpg');">
      <h1>Greenhouse and Solar Panel Classification</h1>
    </header>
  </a>
  <p class="textTitle">
    Description
  </p>
  <p class=" textBody">
    The purpose of this web application is to classify and organize training data for a machine learning model. This
    training data is to be used to allow aerial imaging in conjunction with a machine learning model to determine how
    much area is covered by solar panels and greenhouses. <br>
    <br>
  </p>
  <p class="textEnd">
    Abdul Haqani and Russell Gill are the main contributors for this sub project <br>
    Sara Burns is the project leader and
    Eric Dorff is the project supervisor <br>
  </p>
  <!-- Footer -->
  <footer>
    <p>
      Software Developer – Department of Agriculture <br>

      Statistics Canada / Government of Canada
      <br>

      abdul.haqani@canada.ca / Tel: 343-549-8551
      <br>

      russell.gill@canada.ca / Tel:
      <br>

      Dévvelopeur de logiciel – Département de l'agriculture
      <br>

      Statistique Canada / Gouvernement du Canada
      <br>

      abdul.haqani@canada.ca / Tél: 343-549-8551
      <br>

      russell.gill@canada.ca / Tel:
    </p>


  </footer>

</body>

</html>