<link rel="stylesheet" href="/styles/home.css">


<body>

  <br>
  <!-- Header -->
  <a href="/displayForms" style="text-decoration:none">
    <header style="margin-bottom: 25px; background-image: url('/images/aerialImage.jpg');">
      <h1>Greenhouse and Solar Panel Image Recognition</h1>
    </header>
  </a>
  <p class="textTitle">
    Description
  </p>
  <p class=" textBody">
    The purpose of this web application is to run a machine learning model which can determine the composition of an
    image.
    In particular the model determines how much of the image is covered with solar panels or greenhouse, in percent
    area, then based
    on the images' zoom level it determines how much area in meters squared is covered. This model in conjunction with
    images from
    aerial imagery can help to remove the need for land cover surveys manually, instead opting for using the aerial
    imagery to
    obtain that data.
    <br>
    <br>
  </p>
  <p class="textEnd">
    Abdul Haqani and Russell Gill are the main contributors for this sub project <br>
    Sara Burns is the project leader and
    Eric Dorff is the project supervisor <br>
  </p>
  <!-- Footer -->
  <footer>
    <p>
      Software Developer – Department of Agriculture <br>

      Statistics Canada / Government of Canada
      <br>

      abdul.haqani@canada.ca / Tel: 343-549-8551
      <br>

      russell.gill@canada.ca / Tel: 343-548-8267
      <br>
      <br>

      Dévvelopeur de logiciel – Département de l'agriculture
      <br>

      Statistique Canada / Gouvernement du Canada
      <br>

      abdul.haqani@canada.ca / Tél: 343-549-8551
      <br>

      russell.gill@canada.ca / Tel: 343-548-8267
    </p>


  </footer>

</body>

</html>