/* HEADER */
header {
  background-size: 100%;
  background-position: center;
  height: 200px;
  padding: 5%;
  text-align: center;
  -webkit-text-fill-color: rgb(0, 48, 14);
  opacity: 0.8;
}

header:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Body */
.textTitle {
  background: white;
  color: black;
  text-align: Center;
  padding: 10px 10px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 200;
}

.textBody {
  background: white;
  color: black;
  text-align: left;
  padding: 10px 10px;
  font-size: 18px;
  font-family: sans-serif;
}

.textEnd {
  background: white;
  color: black;
  text-align: center;
  padding: 10px 10px;
  font-size: 12px;
  font-family: sans-serif;
}

/* FOOTER */
footer {
  background: lightgrey;
  color: black;
  text-align: center;
  padding: 10px 10px;
  font-size: 12px;
}
